.amount_caret {
  font-size: 1.8em;
  transition: all 0.3s ease-in;
}

.amount_caret:hover{
  color: rgb(146, 39, 228);
  cursor: pointer;
}

.cart_item {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 1em;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 95vw;
  margin-bottom: 2em;
}

.cart_item > .img_container > img {
  width: 100%;
  height: 100px;
  object-fit: scale-down;
}

.cart_item > .img_container {
  flex: 0.2;
  transition: all 0.3s;
}

.cart_item > .img_container:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cart_item > .cart_item__title {
  flex: 0.5;
}

.cart_item > .cart_item_delete {
  flex: 0.1;
  font-size: 2em;
  cursor: pointer;
}

.cart_item > .cart_item__price {
  flex: 0.1;
  
}

.cart_item > .cart_item__amount {
  flex: 0.1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width: 670px ){
 .cart_item {
  flex-direction: column;
  height: 400px;
 } 

 .cart_item > .img_container, .cart_item > .cart_item__amount, .cart_item > .cart_item__price, .cart_item > .cart_item__title, .cart_item > .cart_item_delete {
  flex: 0;
 }


 .cart_item > .cart_item__amount{
  flex-direction: row;
 }

 

}